.control-panel {
  padding: 3px;
  background: rgb(86,67,52);
  flex-basis: 30%;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  &__sub-panel {
    flex-basis: 50%;
    background: rgb(207,181,144);
    border-radius: 3px;
    margin-right: 3px;
    padding: 5px;
    &:last-of-type {
      margin-right: 0;
    }
  }
}

.health-panel {
  &__health-bar {
    display: flex;
    background-color: rgb(234,42,21);
    position: relative;
    overflow: hidden;
    border-radius: 3px;
  }

  &__health-remaining {
    background-color: rgb(117,137,24);
    min-height: 20px;
  }

  &__percentage {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
  }
}

.top-bar {
  display: flex;
  justify-content: space-between;
  background: rgb(86,67,52);
  border-bottom: 2px solid rgba(86,67,52, 0.5);
  padding: 3px;
  z-index: 1;
  &__box {
    border-radius: 3px;
    background-color: rgb(207,181,144);
    padding: 3px;
  }
  &__menu-button {
    border-radius: 3px;
    background-color: rgb(207,181,144);
    padding: 3px;
    text-decoration: none;
    color: rgb(86,67,52);
  }
}

.unit-factory-panel {
  display: flex;
  &__queue {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
  }
  &__unit {
    margin-right: 5px;
    width: 30px;
    height: 40px;
    background: rgb(86,67,52);
    &:last-of-type {
      margin-right: 0;
    }
  }
  &__actions {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
  }
  &__button {
    background-color: #564334;
    border: none;
    color: #cfb590;
    padding: 3px;
    border-radius: 3px;
  }
}
