body {
  overflow: hidden;
}

.game {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-family: sans-serif;
}

.map-window {
  background: rgb(158,154,65);
  flex-basis: 70%;
  position: relative;

  &__map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
  }

  &__bumper {
    position: absolute;
    width: 30px;
    background:white;
    transition: opacity 0.3s;
    opacity: 0;
    &--left {
      top: 0;
      left: 0;
      bottom: 0;
    }
    &--right {
      top: 0;
      right: 0;
      bottom: 0;
    }
    &:hover {
      opacity: 0.4;
    }
  }
}
