body {
  overflow: hidden;
}

.game {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-family: sans-serif;
}

.control-panel {
  padding: 3px;
  background: rgb(86,67,52);
  flex-basis: 30%;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  &__sub-panel {
    flex-basis: 100%;
    background: rgb(207,181,144);
    border-radius: 3px;
    margin-right: 3px;
    padding: 5px;
    &:last-of-type {
      margin-right: 0;
    }
  }
}

.map-window {
  background: rgb(158,154,65);
  flex-basis: 70%;

  &__map {
    position: absolute;
  }

  &__entity {
    position: absolute;
    width: 10px;
    height: 10px;
    background: rgb(234,42,21);

    &--friendly {
      background: rgb(42,92,11);
    }

    &--gold-mine {
      background-color: rgb(255,229,69);
    }
  }
}

.health-panel {
  &__health-bar {
    display: flex;
    background-color: rgb(234,42,21);
    position: relative;
    overflow: hidden;
    border-radius: 3px;
  }

  &__health-remaining {
    background-color: rgb(117,137,24);
    min-height: 20px;
  }

  &__percentage {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
  }
}

.top-bar {
  display: flex;
  background: rgb(86,67,52);
  border-bottom: 2px solid rgba(86,67,52, 0.5);
  padding: 3px;
  z-index: 1;
  &__box {
    border-radius: 3px;
    background-color: rgb(207,181,144);
    padding: 3px;
  }
}
